* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background-color:rgb(29, 78, 214);
    
}

img {
    height: 100px;
    float: left;
    clear: both;
   
}

nav {
    float: right;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

nav li {
    display: inline-block;

}

nav a {
    text-decoration: none;
    color: #000;
    line-height: 100px;
    font-size: 25px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #000;
}

nav a {
    margin: 0 10px;
}

nav a:hover {
    color: #fff;
}

nav ul li:last-child {
    background-color: #000;
    border-radius: 10px;
}

.add_header {
    background-color:oklch(0.7824 0.118 201.18);
    border-bottom: 2px solid black;
    text-align: center;
    font-size: italic;
    width: 100%;
}

.slogan {
    font-size: 40px;
    font-family: sans-serif;
    color: #000;
    padding: 50px 0;
}

.btn:hover .login {
    color: #fff;
}

.login {
    color: #fff;
}

.button {
    background-color: #000;
    font-size: 20px;
    width: 150px;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: 900;
}

.container {
    border-top: 2px solid #000;
}

.articles {
    float: left;
    width: 65%;
    padding: 5px;
    border: 1px solid black;
}

.article {
    padding: 0,95px;
    margin: 0,95px;
}

.article:after {
    content: "";
    display: block;
    clear: both;
}

.article_text {
    float: left;
    width: 300px;
}

.article_img {
    float: right;
    height: 170px;
    width: 170px;
}

.article_img > img {
    width: 100%;
    height: 100%;
}

.sidebar {
    float: right;
}
