/* body {
    background-color: #d4d4d4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newtonsCradle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1.4);
}

.frameCover {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-5px);
    z-index: 11;
    height: 1px;
    width: 150px;
    background-color: #d4d4d4;
    border-top: 3px solid #d4d4d4;
    border-radius: 10px 10px 0 0;
    box-shadow:
        0 0 0 2px #7ab1fd,
        0 0 0 8px #d4d4d4,
        0 0 0 10.5px #7ab1fd;
}

.frame {
    z-index: 10;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    width: 150px;
    border-radius: 10px 10px 0 0;
    box-shadow:
        0 0 0 2.5px #7ab1fd,
        0 0 0 8px #d4d4d4,
        0 0 0 10.5px #7ab1fd;
}

.frame::before,
.frame::after {
    z-index: 10;
    content: "";
    position: absolute;
    bottom: -10px;
    height: 10px;
    width: 22.5px;
    border: 2.5px solid #7ab1fd;
    border-radius: 2px;
    background-color: #d4d4d4;
}

.frame::before {
    left: -18px;
}

.frame::after {
    right: -18px;
}

.base {
    z-index: 11;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 202.5px;
    border-radius: 4px 4px 0 0;
    background-image: linear-gradient(#a3aeff 0 70);
}

.sphere-wrap {
    position: relative;
    display: flex;
    z-index: 9;
    flex-direction: column;
    align-items: center;
}

.sphere-wrap.left {
    animation: swing-left 2s ease-in-out infinite;
    transform-origin: top right;
}

.sphere-wrap.right {
    animation: swing-right 2s ease-in-out infinite;
    transform-origin: top left;
}

.string {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    height: 50px;
    width: 2px;
    background-color: #114264;
    z-index: 0;
}

.sphere {
    z-index: 9;
    position: relative;
    height: 19.5px;
    width: 19.5px;
    margin-top: 58px;
    border-radius: 50%;
    border: 1.75px solid #114264;
    background: radial-gradient(circle at 28% 28%,
            white 0% 20%,
            #ffe791 20% 60%,
            #eec223 60% 100%
 );
}

.sphere.center::before {
    content: "";
    display: block;
    height: 60px;
    width: 2px;
    background-color: #114264;
    transform: translateX(7.5px) translateY(-61px);
}

/* Animations */

/* @keyframes swing-left {
    0% { transform: rotate(0deg); }

    25% {transform: rotate(25deg);  }

    50% { transform: rotate(0deg);  }

    100% { transform: rotate(0deg); }
}

@keyframes swing-right {

    0%, 50% {transform: rotate(0deg);}

    75% { transform: rotate(-25deg);}

    100% {  transform: rotate(0deg);}
} */ 

.Cradle {
  background: #34495e;
  height: 100vh;
  min-height: 400px;
  position: relative;
}
.Cradle-wrapper {
  height: 200px;
  left: 50%;
  position: absolute;
  top: 50px;
  transform: translateX(-50%);
  width: 250px;
}
.Cradle-frame {
  display: flex;
  height: 100%; 
  justify-content: space-between;
}
.Cradle-frame:before {
  border-radius: 6px;
  border-top: 6px solid #fff;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: -6px;
}
.Cradle-node {
  display: flex;
  flex: 0 0 20%;
  flex-direction: column;
  height: 100%;
}
.Cradle-string {
  align-self: center;
  background: #fff;
  height: calc(100% - 50px);
  width: 2px;
}
.Cradle-ball {
  align-self: center;
  background: #fff;
  border-radius: 50%;
  box-shadow: inset 0 -5px 5px 5px rgba(52,73,94,0.5);
  height: 50px;
  width: 50px;
}
.Cradle-node:first-child {
  animation: bounceLeft 1s ease-out infinite alternate;
  transform-origin: top;
}
.Cradle-node:first-child .Cradle-ball {
  animation: rotateLeftShadow 1s ease-out infinite alternate;
}
.Cradle-node:last-child {
  animation: bounceRight 1s ease-out 1s infinite alternate;
  transform-origin: top;
}
.Cradle-node:last-child .Cradle-ball {
  animation: rotateRightShadow 1s ease-out 1s infinite alternate;
}
.Cradle-node:not(:first-child):not(:last-child) .Cradle-ball {
  animation: collision 1s ease-out 1.5s infinite;
}
@keyframes bounceLeft {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% { 
    transform: rotate(35deg);
  }
}
@keyframes bounceRight {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% { 
    transform: rotate(-35deg);
  }
}
@keyframes rotateLeftShadow {
  0%,50% {
    box-shadow: inset 0 -5px 5px 5px rgba(52,73,94,0.5);
  }
  100% {
    box-shadow: inset 2px -5px 5px 5px rgba(52,73,94,0.5);
  }
}
@keyframes rotateRightShadow {
  0%,50% {
    box-shadow: inset 0 -5px 5px 5px rgba(52,73,94,0.5);
  }
  100% {
    box-shadow: inset -2px -5px 5px 5px rgba(52,73,94,0.5);
  }
}
@keyframes collision {
  0% {
    box-shadow: inset 2px -5px 5px 5px rgba(52,73,94,0.5);
  }
  5% {
    box-shadow: inset -2px -5px 5px 5px rgba(52,73,94,0.5);
  }
  10%,100% {
    box-shadow: inset 0 -5px 5px 5px rgba(52,73,94,0.5);
  }
}